* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

body {
  background-image: linear-gradient(45deg, black, rgb(46, 70, 255));
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  grid-column: 1/-1;
  background-color: rgb(31, 31, 31);
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px 10px 0 0;
}

.span-2 {
  grid-column: span 2;
}

.grid-container > button {
  border: none;
  background-color: black;
}

.grid-container > button:hover {
  color: black;
  background-color: #eee;
}

.grid-container > .operand {
  background-color: rgb(46, 147, 255);
}

.output > .previus-operand {
  color: rgb(199, 199, 199);
  font-size: 1rem;
}

.output > .current-operand {
  font-size: 2rem;
}

.radius {
  border-radius: 0 0 10px 0;
}

.radius-2 {
  border-radius: 0 0 0 10px;
}
